.gradient-primary {
  background: #667eea;
  background: -webkit-linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5));
  background: linear-gradient(to right, rgba(102, 126, 234, 0.5), rgba(118, 75, 162, 0.5))
}

.gradient-primary:hover {
  background: #344cb8;
  background: -webkit-linear-gradient(to right, rgba(52, 76, 184, 0.5), rgba(68, 35, 112, 0.5));
  background: linear-gradient(to right, rgba(52, 76, 184, 0.5), rgba(68, 35, 112, 0.5))
}

.gradient-primary:focus {
  background: #344cb8;
  background: -webkit-linear-gradient(to right, rgba(52, 76, 184, 0.5), rgba(68, 35, 112, 0.5));
  background: linear-gradient(to right, rgba(52, 76, 184, 0.5), rgba(68, 35, 112, 0.5))
}

.gradient-primary:disabled {
  background: #7a4d80;
  background: -webkit-linear-gradient(to left, rgba(122, 77, 128, 0.6), rgba(127, 46, 57, 0.6));
  background: linear-gradient(to left, rgba(122, 77, 128, 0.6), rgba(127, 46, 57, 0.6))
}

.gradient-background {
  background: #7a4d80;
  background: -webkit-linear-gradient(to left, rgba(122, 77, 128, 0.6), rgba(127, 46, 57, 0.6));
  background: linear-gradient(to left, rgba(122, 77, 128, 0.6), rgba(127, 46, 57, 0.6))
}
.translationImage {
  max-width: 50px;
  max-height: 50px;
}